@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes slideIn {
  from {
    left: 0px;
  }
  to {
    left: 300px;
  }
}

.animate-slide-linear {
  position: relative;
  animation: slideIn 1s linear forwards;
}

.animate-slide-ease {
  position: relative;
  animation: slideIn 1s ease forwards;
}

.animate-slide-ease-in {
  position: relative;
  animation: slideIn 1s ease-in forwards;
}

.animate-slide-ease-out {
  position: relative;
  animation: slideIn 1s ease-out forwards;
}

.animate-slide-ease-in-out {
  position: relative;
  animation: slideIn 1s ease-in-out forwards;
}
